<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekNational</title><!--ブラウザのタブのタイトルを指定-->
    <%= stylesheet_link_tag "country_postsindex", "data-turbo-track": "reload" %>
  </head>
<body class="posts-page">
<header>
</header>
</body>

<div class="page-title">About <%= @country.name %></div>




<div class="country-container">
  <div class="country-text">
  <% @country_posts.each do |post| %>
    <li style="margin-bottom:1rem;">

    <div class="country-name">
      <strong><%= post.title %></strong>
    </div>

    <div class="country-info">
      <%= simple_format(post.content) %>
    </div>
  </div>
  
  <div class="country-image">
    <% if post.image.attached? %>
            <%= image_tag post.image, size: '700x400'%>
        <% end %>
  </div>


   </div>
    <%= link_to "管理者用", country_country_post_path(@country, post), class: "btn" %>
  
  </div>




    
    
  <% end %>





<footer>	
</footer>
<%= link_to "World Mapへ戻る", countries_map_path, class: "map_link" %>