<!-- app/views/country_posts/show.html.erb -->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekNational</title><!--ブラウザのタブのタイトルを指定-->
    <%= stylesheet_link_tag "country_postsindex", "data-turbo-track": "reload" %>
  </head>
<h2><%= @country.name %>：<%= @country_post.title %></h2>

<% if @country_post.image.attached? %> <%= image_tag @country_post.image %> <% end %>

<%= simple_format(@country_post.content) %>

<p>
  <% if current_user&.admin? %>
    <%= link_to "編集", edit_country_country_post_path(@country, @country_post) %> |
    <%= button_to "削除",
          country_country_post_path(@country, @country_post),
          method: :delete,
          form: { data: { turbo_confirm: "削除しますか？" } } %>
  <% end %>
</p>

<p><%= link_to "一覧へ戻る", country_country_posts_path(@country) %></p>